* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #cdbccb;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60%;
  height: 90%;
  max-height: 90%;
  display: flex;
  position: relative;
  /* border: 1px solid green; */
  border-radius: 1.2rem;
}

section#left-container {
  width: 60%;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  /* border: 1px solid black; */
}

section#left-container img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

#place-time {
  /* border: 1px solid blue; */
  width: 60%;
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  position: absolute;
  left: 0%;
}

#place-time #location {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

#place-time #loc-icon {
  font-size: 1.4rem;
}

#place-time #loc-city {
  font-size: 2rem;
}

#place-time #loc-country {
  text-transform: uppercase;
}

#place-time #time {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

#temp-date {
  /* border: 1px solid salmon; */
  position: absolute;
  left: 0;
  top: 4.5rem;
  width: 60%;
  padding-top: 2rem;
  color: white;
  text-align: center;
}

#temp-date #temperature {
  display: flex;
  gap: 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  justify-content: center;
}

#temp-date #temp-val {
  font-size: 7rem;
}

#temp-date span#temp-deg {
  font-size: 7rem;
}

#temp-date #temp-unit {
  font-size: 7rem;
}

#temp-date #date {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

#hourly-forecast {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 11rem;
  padding: 0.5rem 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  /* border: 1px solid blue; */
}

#hourly-forecast #hourly-heading {
  padding-bottom: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

#hourly-forecast #hour-weather-container {
  margin-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

#hourly-forecast .hour-weather {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#hourly-forecast #hour-weather-container::-webkit-scrollbar {
  height: 0.5rem;
}

#hourly-forecast #hour-weather-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.707);
}

#hourly-forecast .hour-temp-val {
  font-size: 1.2rem;
}

#search-city {
  width: auto;
  max-height: 3rem;
  display: flex;
  margin: 1rem 2rem;
  border-bottom: 1px solid black;
  position: absolute;
  right: 0%;
}

#search-city input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

#search-city button#search-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#search-city #place-list {
  display: none;
}

#search-city:has(input:focus) #place-list:has(li) {
  display: block;
}

#search-city #place-container {
  cursor: pointer;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
  overflow-y: scroll;
  max-height: 8rem;
  min-width: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  background: white;
  z-index: 1;
}

#search-city #place-container .place {
  padding: 0.8rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

#search-city #place-container .place:last-child {
  border: none;
}

#search-city #place-container span {
  font-size: 0.8rem;
}

#add-weather-info {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  border-radius: 1.2rem;
  color: black;
  gap: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: left;
  padding: 2rem 2rem;
}

#add-weather-info .temp-add-info {
  border: 3px solid white;
  padding: 1rem 1rem;
  border-radius: 1rem;
  position: relative;
}

.temp-add-info::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(#ffffff91, #ffffffa1);
  z-index: -1;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }

  /* body::-webkit-scrollbar {
    display: none;
  } */

  main {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: none;
    min-height: 100vh;
    height: 100vh;
  }

  #search-city {
    inset: 0;
    width: 35%;
    text-align: center;
    margin: 3.2vw auto;
    max-height: 4.6vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid salmon; */
  }
  #search-city input {
    font-size: 3vw;
  }

  #search-city #place-container {
    top: 4.6vw;
    font-size: 2.5vw;
    max-height: 15vw;
  }

  #search-city #place-container span {
    font-size: 1.8vw;
  }

  section#left-container {
    width: 100%;
    border-radius: 0;
  }

  section#left-container img {
    border-radius: 0;
  }

  #place-time {
    top: 7.8vw;
    width: 100%;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    /* border: 1px solid blue; */
  }

  #place-time #location {
    gap: 1.5vw;
  }

  #place-time #loc-icon {
    font-size: 3.2vw;
  }

  #place-time #loc-city {
    font-size: 4.6vw;
  }

  #place-time #loc-country {
    font-size: 3.2vw;
  }

  #place-time #time {
    font-size: 4.6vw;
  }

  #temp-date {
    width: 100%;
    top: 19vw;
    /* border: 1px solid green; */
  }

  #temp-date #temp-val,
  #temp-date span#temp-deg,
  #temp-date #temp-unit {
    font-size: 19vw;
  }

  #temp-date #date {
    font-size: 4.6vw;
  }

  #hourly-forecast {
    width: 100%;
    /* top: 89vw; */
    bottom: 0;
    padding: 0 5vw;
    margin-bottom: 12vw;
  }

  #hourly-forecast #hourly-heading {
    font-size: 3.2vw;
    padding-bottom: 3.2vw;
  }

  #hourly-forecast #hour-weather-container {
    gap: 5vw;
    font-size: 2.5vw;
  }
  #hourly-forecast .hour-temp-val {
    font-size: 4vw;
  }

  #add-weather-info {
    padding: 0 12vw;
    width: 100%;
    top: 70vw;
    bottom: auto;
    gap: 3.2vw;
  }
  #add-weather-info .temp-add-info {
    color: white;
    font-size: 2.8vw;
    /* line-height: 2.5rem; */
    line-height: 4vw;
  }
}

@media screen and (max-width: 540px) {
  body {
    overflow-y: scroll;
    height: auto;
  }
  main {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: none;
    min-height: 100vh;
  }
  #search-city input {
    width: 100%;
    font-size: 3.5vw;
  }
  #search-city button#search-icon {
    font-size: 2.3vw;
  }
  #search-city #place-container .place {
    padding: 1.8vw 1.5vw;
  }
  #place-time #loc-icon {
    font-size: 4.5vw;
  }
  #place-time #loc-city {
    font-size: 6.6vw;
  }
  #place-time #time {
    font-size: 6.6vw;
  }
  #temp-date {
    top: 25vw;
  }
  #temp-date #temp-val,
  #temp-date span#temp-deg,
  #temp-date #temp-unit {
    font-size: 25vw;
  }
  #temp-date #date {
    font-size: 6.6vw;
  }
  #add-weather-info {
    top: 90vw;
  }
  #add-weather-info .temp-add-info {
    font-size: 3.2vw;
    line-height: 4.2vw;
  }
  #hourly-forecast {
    top: auto;
    bottom: 0;
    margin-bottom: 3vw;
  }
  #hourly-forecast #hourly-heading {
    font-size: 4vw;
  }

  #hourly-forecast #hour-weather-container {
    gap: 0.2vw;
    font-size: 3.5vw;
  }

  #hourly-forecast .hour-temp-val {
    font-size: 5vw;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  body {
    overflow: scroll;
    height: auto;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  main {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: none;
    min-height: auto;
    height: auto;
  }

  #hourly-forecast {
    width: 100%;
    /* top: 90vw; */
    bottom: 0;
    padding: 0 5vw;
    margin-bottom: 12vw;
  }
}
