* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #cdbccb;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60%;
  height: 90%;
  max-height: 90%;
  display: flex;
}

section#left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  padding: 1rem 1rem;
}

section#left-container::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/weather-bg-image/clear.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  z-index: -1;
  opacity: 0.9;
}

section#right-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 2rem;
  padding: 2.5vw 2.5vw;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background: #ffffff87;
}

#left-container #place-time {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
  color: white;
}

#place-time #location {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

#place-time #loc-icon {
  font-size: 1.4rem;
}

#place-time #loc-city {
  font-size: 2rem;
}

#place-time #loc-country {
  text-transform: uppercase;
}

#place-time #time {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

#left-container #temp-date {
  flex-grow: 1;
  padding-top: 2rem;
  color: white;
  text-align: center;
}

#temp-date #temperature {
  display: flex;
  gap: 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  justify-content: center;
}

#temp-date #temp-val {
  font-size: 7rem;
}

#temp-date span#temp-deg {
  font-size: 7rem;
}

#temp-date #temp-unit {
  font-size: 7rem;
}

#temp-date #date {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

#left-container #hourly-forecast {
  padding: 0.5rem 0.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
}

#hourly-forecast #hourly-heading {
  padding-bottom: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

#hourly-forecast #hour-weather-container {
  margin-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

#hourly-forecast .hour-weather {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#hourly-forecast #hour-weather-container::-webkit-scrollbar {
  height: 0.5rem;
}

#hourly-forecast #hour-weather-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.707);
}

#hourly-forecast .hour-temp-val {
  font-size: 1.2rem;
}

section#right-container #search-city {
  display: flex;
  margin: 0 2rem;
  border-bottom: 1px solid black;
  position: relative;
}

#search-city input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

#search-city button#search-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#search-city #place-list {
  display: none;
}

#search-city:has(input:focus) #place-list:has(li) {
  display: block;
}

#search-city #place-container {
  cursor: pointer;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
  overflow-y: scroll;
  max-height: 8rem;
  min-width: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  background: white;
}

#search-city #place-container .place {
  padding: 0.8rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

#search-city #place-container .place:last-child {
  border: none;
}

#search-city #place-container span {
  font-size: 0.8rem;
}

section#right-container #weather-type {
  margin-top: 2rem;
  flex-grow: 1;
}

#weather-type #weather-lottie-icon {
  display: flex;
  justify-content: center;
}

#weather-type lottie-player {
  height: 120px;
  width: 120px;
  background: transparent;
}

#weather-type #type-name {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 4rem;
}

/* section#right-container #astronomy {
  border: 3px solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

#astronomy .astro {
  width: 50%;
  border-right: 1px solid white;
}

#astronomy #sunrise-img {
  width: 100%;
  padding: 4rem;
  background-image: url("../public/sunrise.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#astronomy #sunset-img {
  width: 100%;
  padding: 4rem;
  background-image: url("../public/sunset.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#astronomy .astro-data {
  text-align: center;
} */

section#right-container #add-weather-info {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  border-radius: 1.2rem;
  color: black;
  gap: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: left;
}

#add-weather-info .temp-add-info {
  border: 3px solid white;
  padding: 1rem 1rem;
  border-radius: 1rem;
  position: relative;
}

section#right-container .temp-add-info::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(#ffffff91, #ffffffa1);
  z-index: -1;
  border-radius: 1rem;
}
